body {
    margin: 0;
    padding: 0;
    height: 1000vh;
    background-color: #b86744;
}

.container {
    padding: 50px;
}

.header {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}





.clock-area {
    text-align: center;
}

#clock{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Courier New', Courier, monospace;
  color: darksalmon;
  font-size: 50px;
}

@media screen and (max-width: 42.5em) {
    #img img{
        width: 100%;
        height: 50%;
    }
    #clock{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    color: darksalmon;
    font-size: 50px;
}

}

